<nav class="navbar navbar-expand-lg bg-dark espaco">
  <a class="navbar-brand text-light tam" href="#">
    <span>Tecjobs</span>
    <img class="img" [src]="logoImg">
  </a>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Início</a>
      <a class="nav-item nav-link" href="#">Sobre nós</a>
      <a class="nav-item nav-link" href="#">Fatec</a>
      <a class="nav-item nav-link" href="#">Área restrita</a>
    </div>
  </div>
</nav>